<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stay Grid | Complaint - view</title>
    <%- include('../../components/externalImports') %>
</head>
<body>
    <div class="max-w-screen-xl mx-auto px-4 md:px-1">
        <div class="mt-10 flex items-center relative">
            <a href="/user/complaints" class="absolute left-0">
                <svg class="w-10 h-10 text-gray-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 19-7-7 7-7"/>
                </svg>
            </a>
            <h1 class="pl-16 inline text-xl font-bold text-gray-700">
                <%= typeof complain !== 'undefined' && complain ? complain.subject : '' %>
            </h1>              
        </div>
        <div class="mt-14">
            <p class="text-gray-700">User account and student details</p>
            <hr class="bg-black h-[2px] mb-8"/>
            <form action="" class="w-full">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
                    <div class="w-full">
                        <input type="text" id="name" value="<%= typeof complain !== 'undefined' && complain ? complain.user.userName : '' %>" class="w-full border border-gray-950 rounded px-5 py-2 bg-transparent" readonly>
                        <label for="name">Complained user</label>
                    </div>
                    <div class="w-full">
                        <input type="text" value="<%= typeof complain !== 'undefined' && complain ? complain.user.email : '' %>" id="location" class="w-full border border-gray-950 rounded px-5 py-2 bg-transparent" readonly>
                        <label for="location">Complain user email</label>
                    </div>
                    <div class="w-full">
                        <input type="text" value="<%= typeof student !== 'undefined' && student ? student.full_name : '' %>" id="name" value="<%= typeof complain !== 'undefined' && complain ? complain.user.userName : '' %>" class="w-full border border-gray-950 rounded px-5 py-2 bg-transparent" readonly>
                        <label for="name">Related student</label>
                    </div>
                    <div class="w-full">
                        <input type="text" value="<%= typeof student !== 'undefined' && student ? student.registration_number : '' %>" id="location" class="w-full border border-gray-950 rounded px-5 py-2 bg-transparent" readonly>
                        <label for="location">Related student registration number</label>
                    </div>
                </div>
                <p class="text-gray-700 mt-8">Complain details</p>
                <hr class="bg-black h-[2px] mb-8"/>
                <div class="grid grid-cols-1 mt-4 md:grid-cols-2 gap-5">
                    <div class="w-full">
                        <input type="text" value="<%= typeof complain !== 'undefined' && complain ? complain.subject : '' %>" id="hod_name" class="w-full border border-gray-950 rounded px-5 py-2 bg-transparent" readonly>
                        <label for="hod_name">Subject</label>
                    </div>
                    <div class="w-full">
                        <input type="text" value="<%= typeof complain !== 'undefined' && complain ? complain.createdAt : '' %>" id="hod_cantact" class="w-full border border-gray-950 rounded px-5 py-2 bg-transparent" placeholder="HOD Contact">
                        <label for="hod_cantact">Date and time</label>
                    </div>
                    <div class="w-full col-span-2">
                        <textarea class="w-full border border-gray-950 rounded px-5 py-2 bg-transparent" rows="5"><%= typeof complain !== 'undefined' && complain ? complain.message : '' %></textarea>
                        <label for="hod_address">Message</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>