<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stay Grid | Users - <%= typeof user !== 'undefined' && user ? user.userName : 'add' %></title>
    <%- include('../../components/externalImports') %>
</head>
<body>
    <div class="max-w-screen-xl mx-auto px-4 md:px-1">
        <div class="mt-10 flex items-center relative">
            <a href="/user/users" class="absolute left-0">
                <svg class="w-10 h-10 text-gray-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 19-7-7 7-7"/>
                </svg>
            </a>
            <h1 class="pl-16 inline text-xl font-bold text-gray-700">
                <%= typeof user !== 'undefined' && user ? user.userName : 'Add user' %>
            </h1>              
        </div>
        <div class="mt-14">
            <p class="text-gray-700">Account details</p>
            <hr class="bg-black h-[2px] mb-8"/>
            <form action="" class="w-full">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
                    <div class="w-full">
                        <input type="text" id="username" value="<%= typeof user !== 'undefined' && user ? user.userName : '' %>" class="w-full border border-gray-950 rounded px-5 py-2 bg-transparent" placeholder="User name">
                        <label for="username">User name</label>
                    </div>
                    <div class="w-full">
                        <input type="email" value="<%= typeof user !== 'undefined' && user ? user.email : '' %>" id="email" class="w-full border border-gray-950 rounded px-5 py-2 bg-transparent" placeholder="Email">
                        <label for="email">Email address</label>
                    </div>
                    <div class="w-full">
                        <select name="role" id="role" class="w-full border border-gray-950 rounded px-3 py-2 bg-transparent">
                            <% for (const role of roles){ %>
                                <option value="<%= role.id %>" <%= typeof user !== 'undefined' && user.role.id == role.id ? 'selected' : '' %>><%= role.name %></option>
                            <% } %>
                        </select>
                        <label for="">User access role</label>
                    </div>
                </div>
                <p class="text-gray-700 mt-8">Password details</p>
                <hr class="bg-black h-[2px] mb-8"/>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
                    <div class="w-full">
                        <input type="password" id="password" class="w-full border border-gray-950 rounded px-5 py-2 bg-transparent" placeholder="Password">
                        <label for="password">Password</label>
                    </div>
                    <div class="w-full">
                        <input type="password" id="repassword" class="w-full border border-gray-950 rounded px-5 py-2 bg-transparent" placeholder="Re-enter password">
                        <label for="repassword">Re-enter password</label>
                    </div>
                </div>
                <div class="mt-8">
                    <% if (typeof user !== 'undefined' && user ){ %>
                        <button id="updateUserDetails" value="<%= typeof user !== 'undefined' && user ? user.id : '' %>" class="bg-blue-700 hover:bg-blue-800 px-5 py-2 rounded text-white">Update details without password</button>
                        <button id="updateUserPassword" value="<%= typeof user !== 'undefined' && user ? user.id : '' %>" class="bg-blue-700 hover:bg-blue-800 px-5 py-2 rounded text-white">Update password</button>
                    <% } else { %>
                        <button id="createUser" class="bg-blue-700 hover:bg-blue-800 px-5 py-2 rounded text-white">Create</button>
                    <% } %>                    
                </div>
            </form>
        </div>
    </div>
    <%- include('../../components/bottomIncludes.ejs') %>
</body>
</html>