<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stay Grid | Complaints</title>
    <%- include('../components/externalImports') %>
</head>
<body class="min-h-screen">
    <%- include('./components/navbar.ejs') %>
    <div class="ml-0 md:ml-[300px] p-3">
        <h1 class="text-2xl font-bold pl-5 pt-5">Complaints</h1>
        <div class="flex justify-between p-5 mt-7">
            <div>
            </div>
            <div>
                <input type="text" class="border bg-gray-200 focus:outline-none px-3 py-1 rounded" placeholder="Search">
            </div>
        </div>
        <div class="px-5">
            <table class="w-full table-auto">
                <thead class="bg-gray-400">
                    <th class="text-left p-2">User</th>
                    <th class="text-left p-2">Email</th>
                    <th class="text-left p-2">Subject</th>
                    <th class="text-left p-2">Message</th>
                    <th></th>
                </thead>
                <tbody>
                    <% if (unreadComplaints.length <= 0 && readComplaints.length <= 0){ %>
                        <tr>
                            <td colspan="4" class="text-center p-2">No complaints to show</td>
                        </tr>
                    <% } else { %>
                        <% for (const unreadComplaint of unreadComplaints){%>
                            <tr class="bg-gray-300 hover:bg-gray-100 cursor-pointer">
                                <td class="text-left p-2"><%= unreadComplaint.user.userName %></td>
                                <td class="text-left p-2"><%= unreadComplaint.user.email %></td>
                                <td class="text-left p-2"><%= unreadComplaint.subject %></td>
                                <td class="text-left p-2"><%= unreadComplaint.message %></td>
                                <td class="text-right p-2"> 
                                    <button class="ml-2 text-blue-400 hover:text-blue-600" title="Mark as read" onclick="markAsRead('<%= unreadComplaint.id %>')" id="markAsRead">
                                        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 19V6a1 1 0 0 1 1-1h4.032a1 1 0 0 1 .768.36l1.9 2.28a1 1 0 0 0 .768.36H16a1 1 0 0 1 1 1v1M3 19l3-8h15l-3 8H3Z"/>
                                        </svg>                                          
                                    </button>
                                    <button class="ml-2 text-red-400 hover:text-red-600" title="Remove">
                                        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                            <path fill-rule="evenodd" d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z" clip-rule="evenodd"/>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                        <% } %>
                        <% for (const readComplaint of readComplaints){%>
                            <tr class="bg-gray-200 hover:bg-gray-100 cursor-pointer">
                                <td class="text-left p-2"><%= readComplaint.user.userName %></td>
                                <td class="text-left p-2"><%= readComplaint.user.email %></td>
                                <td class="text-left p-2"><%= readComplaint.subject %></td>
                                <td class="text-left p-2"><%= readComplaint.message %></td>
                                <td class="text-right p-2">
                                    <button class="ml-2 text-red-400 hover:text-red-600" title="Remove">
                                        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                            <path fill-rule="evenodd" d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z" clip-rule="evenodd"/>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>

    <%- include('../components/bottomIncludes.ejs') %>
</body>
</html>