<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stay Grid | Faculties</title>
    <%- include('../components/externalImports') %>
</head>
<body class="min-h-screen">
    <%- include('./components/navbar.ejs') %>
    <div class="ml-0 md:ml-[300px] p-3">
        <h1 class="text-2xl font-bold pl-5 pt-5">Faculties</h1>
        <div class="flex justify-between p-5 mt-7">
            <div>
                <a href="/user/faculty/add" class="bg-blue-800 px-7 py-2 rounded text-white cursor-pointer">Create</a>
            </div>
            <div>
                <input type="text" class="border bg-gray-200 focus:outline-none px-3 py-1 rounded" placeholder="Search">
            </div>
        </div>
        <div class="px-5">
            <table class="w-full table-auto">
                <thead class="bg-gray-400">
                    <th class="text-left p-2">Name</th>
                    <th class="text-left p-2">Location</th>
                    <th class="text-center p-2">HOD Name</th>
                    <th class="text-center p-2">HOD Contact</th>
                    <th></th>
                </thead>
                <tbody>
                    <% if (faculties.length > 0) { %>
                        <% for (const faculty of faculties){ %>
                            <tr class="bg-gray-100 hover:bg-gray-200 cursor-pointer">
                                <td class="text-left p-2" onclick="console.log('<%= faculty.id %>')"><%= faculty.name %></td>
                                <td class="text-left p-2" onclick="console.log('<%= faculty.id %>')"><%= faculty.location %></td>
                                <td class="text-center p-2" onclick="console.log('<%= faculty.id %>')"><%= faculty.hod_name %></td>                            
                                <td class="text-center p-2" onclick="console.log('<%= faculty.id %>')"><%= faculty.hod_cantact %></td>
                                <td class="text-center">
                                    <button class="text-red-400 hover:text-red-600" onclick="console.log('<%= faculty.id %>')">
                                        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                            <path fill-rule="evenodd" d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z" clip-rule="evenodd"/>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                        <% } %>
                    <% } else { %>
                        <tr>
                            <td colspan="5" class="text-center p-2">No faculties to show <a href="/user/faculty/add" class="text-blue-500 hover:underline">add faculty?</a></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>

    <%- include('../components/bottomIncludes.ejs') %>
</body>
</html>