<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stay Grid | Maintainer</title>
    <%- include('../components/externalImports') %>
</head>
<body class="min-h-screen">
    <%- include('./components/navbar.ejs') %>
    <div class="ml-0 md:ml-[300px] p-3">
        <h1 class="text-2xl font-bold pl-5 pt-5">Maintainers</h1>
        <div class="flex justify-between p-5 mt-7">
            <div>
                <a href="/user/maintainers/add" class="bg-blue-800 px-7 py-2 rounded text-white cursor-pointer">Create</a>
            </div>
            <div>
                <input type="text" class="border bg-gray-200 focus:outline-none px-3 py-1 rounded" placeholder="Search">
            </div>
        </div>
        <div class="px-5">
            <table class="w-full table-auto">
                <thead class="bg-gray-400">
                    <th class="text-left p-2">Calling name</th>
                    <th class="text-left p-2">Job role</th>
                    <th class="text-center p-2">Contact</th>
                    <th class="text-center p-2">Emergency contact</th>
                    <th class="text-center p-2">Is working</th>
                    <th></th>
                </thead>
                <tbody>
                    <% if (maintainers.length > 0){ %>
                        <% for (const maintainer of maintainers){ %>
                        <tr class="bg-gray-100 hover:bg-gray-200 cursor-pointer">
                            <td class="text-left p-2" onclick="console.log('<%= maintainer.id %>')"><%= maintainer.callingName %></td>
                            <td class="text-left p-2" onclick="console.log('<%= maintainer.id %>')"><%= maintainer.jobRole %></td>
                            <td class="text-center p-2" onclick="console.log('<%= maintainer.id %>')"><%= maintainer.contact %></td>                            
                            <td class="text-center p-2" onclick="console.log('<%= maintainer.id %>')"><%= maintainer.emergencyContact %></td>
                            <td class="text-center p-2" onclick="console.log('<%= maintainer.id %>')">
                                <% if (maintainer.workEndDate) { %>
                                    <span>No</span>
                                <% } else { %>
                                    <span>Yes</span>
                                <% } %>
                            </td>
                            <td></td>
                        </tr>
                        <% } %>
                    <% } else { %>
                        <tr>
                            <td colspan="6" class="text-center p-2">No maintainers to show <a href="/user/maintainers/add" class="text-blue-500 hover:underline">add maintainer?</a></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>

    <%- include('../components/bottomIncludes.ejs') %>
</body>
</html>