<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stay Grid | Students</title>
    <%- include('../components/externalImports') %>
</head>
<body class="min-h-screen">
    <%- include('./components/navbar.ejs') %>
    <div class="ml-0 md:ml-[300px] p-3">
        <h1 class="text-2xl font-bold pl-5 pt-5">Students</h1>
        <div class="flex justify-between p-5 mt-7">
            <div>
                <a href="/user/students/add" class="bg-blue-800 px-7 py-2 rounded text-white cursor-pointer">Create</a>
                <button id="studentHostelStatus" class="bg-blue-800 px-3 py-[5.3px] rounded text-white cursor-pointer ml-3">Mark student out or in</button>
            </div>
            <div>
                <input type="text" class="border bg-gray-200 focus:outline-none px-3 py-1 rounded" placeholder="Search">
            </div>
        </div>
        <div class="px-5">
            <table class="w-full table-auto">
                <thead class="bg-gray-400">
                    <th class="text-left p-2">Name</th>
                    <th class="text-left p-2">Registration no</th>
                    <th class="text-center p-2">Email</th>
                    <th class="text-center p-2">Contact</th>
                    <th class="text-center p-2">Emergency contact</th>
                    <th class="text-center p-2">Hostel status</th>
                    <th></th>
                </thead>
                <tbody>
                    <% if (students.length > 0) { %>
                        <% for (student of students){ %>
                            <tr class="bg-gray-100 hover:bg-gray-200 cursor-pointer">
                                <td class="text-left p-2" onclick="window.location.replace('/user/students/<%= student.id %>')"><%= student.full_name %></td>
                                <td class="text-left p-2" onclick="window.location.replace('/user/students/<%= student.id %>')"><%= student.registration_number %></td>
                                <td class="text-center p-2" onclick="window.location.replace('/user/students/<%= student.id %>')"><%= student.email %></td>                            
                                <td class="text-center p-2" onclick="window.location.replace('/user/students/<%= student.id %>')""><%= student.contact %></td>
                                <td class="text-center p-2" onclick="window.location.replace('/user/students/<%= student.id %>')"><%= student.guardians_contact %></td>
                                <td class="text-center p-2" onclick="window.location.replace('/user/students/<%= student.id %>')">
                                    <% if (student.status == 1){ %>
                                        <span class="bg-green-500 rounded-xl px-5 py-[2px]">In</span>
                                    <% } else { %>
                                        <span class="bg-red-500 rounded-xl px-5 py-[2px]">Out</span>
                                    <% } %>
                                </td>
                                <td class="text-right p-2">
                                    <button class="ml-2 text-red-400 hover:text-red-600" onclick="removeStudent('<%= student.id %>')" title="Remove">
                                        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                            <path fill-rule="evenodd" d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z" clip-rule="evenodd"/>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                        <% } %>
                    <% } else { %>
                        <tr>
                            <td colspan="6" class="text-center p-2">No students to show <a href="/user/students/add" class="text-blue-500 hover:underline">add student?</a></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <div id="outInMarker" class="hidden absolute top-0 left-0 w-screen h-screen bg-[rgba(0,0,0,0.6)] flex justify-center items-center">
        <div class="bg-white rounded p-5 w-[400px]">
            <span class="text-xl font-bold">Mark student out or in</span>
            <div class="w-full mt-5">
                <div>
                    <select id="student" class="w-full border border-gray-950 rounded px-3 py-2 bg-transparent">
                        <% for (const student of students){ %>
                            <option value="<%= student.id %>"><%= student.full_name %> | <%= student.registration_number %></option>
                        <% } %>
                    </select>
                </div>
                <div class="mt-4 flex">
                    <input type="checkbox" id="inOrOut" onclick="checkboxClicked(this)" class="mr-2 ml-1"> <span>Is student out</span>
                </div>
                <div id="reasonField" class="mt-4 hidden">
                    <textarea id="reason" rows="5" class="w-full border border-gray-950 rounded px-3 py-2 bg-transparent" placeholder="Reason"></textarea>
                </div>
                <div class="mt-4">
                    <button id="createStudentInOut" class="bg-blue-800 px-7 py-2 rounded text-white cursor-pointer">Save</button>
                    <button id="cancelStudentInOut" class="bg-gray-800 px-7 py-2 rounded text-white cursor-pointer">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div id="removeModel" class="hidden absolute top-0 left-0 w-screen h-screen bg-[rgba(0,0,0,0.6)] flex justify-center items-center">
        <div class="bg-white rounded p-5 w-[400px]">
            <span class="text-xl font-bold">Confirmation</span>
            <span class="block">Are you sure you want to remove?</span>
            <div class="w-full mt-5">
                <div class="mt-4">
                    <button id="deleteStudent" class="bg-red-800 px-7 py-2 rounded text-white cursor-pointer">Remove</button>
                    <button id="cancelDelete" onclick="cancelDelete()" class="bg-gray-800 px-7 py-2 rounded text-white cursor-pointer">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <%- include('../components/bottomIncludes.ejs') %>
</body>
</html>