
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stay Grid | Users</title>
    <%- include('../components/externalImports') %>
</head>
<body class="min-h-screen">
    <%- include('./components/navbar.ejs') %>
    <div class="ml-0 md:ml-[300px] p-3">
        <h1 class="text-2xl font-bold pl-5 pt-5">Users</h1>
        <div class="flex justify-between p-5 mt-7">
            <div>
                <a href="/user/users/add" class="bg-blue-800 px-7 py-2 rounded text-white cursor-pointer">Create</a>
            </div>
            <div>
                <input type="text" class="border bg-gray-200 focus:outline-none px-3 py-1 rounded" placeholder="Search">
            </div>
            <!-- <div>100/10</div> -->
        </div>
        <div class="px-5">
            <table class="w-full table-auto">
                <thead class="bg-gray-400">
                    <th class="text-left p-2">User Name</th>
                    <th class="text-left p-2">Email</th>
                    <th class="text-center p-2">Role</th>
                    <th class="text-center p-2">Status</th>
                    <th class="text-center p-2">Created date</th>
                </thead>
                <tbody>
                    <% if (users.length > 0) { %>
                        <% for (const user of users){ %>
                            <tr class="bg-gray-100 hover:bg-gray-200 cursor-pointer">
                                <td class="text-left p-2"><%= user.userName %></td>
                                <td class="text-left p-2"><%= user.email %></td>
                                <td class="text-center p-2"><%= user.role.name %></td>
                                <% 
                                    const dbDate = new Date(user.createdAt);
                                    const formattedDate = dbDate.toLocaleDateString();
                                %>
                                <% if (user.status == false){ %>
                                    <td class="text-center p-2"><p class="text-red-500">Inactive</p></td>
                                <% }else{ %>
                                    <td class="text-center p-2"><p class="text-green-500">Active</p></td>
                                <% } %>                                
                                <td class="text-center p-2"><%= formattedDate %></td>
                            </tr>
                        <% } %>
                    <% } else { %>
                        <tr>
                            <td colspan="5" class="text-center p-2">No users to show <a href="/user/users/add" class="text-blue-500 hover:underline">add user?</a></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <%- include('../components/bottomIncludes.ejs') %>
</body>
</html>