<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stay Grid | Faculty - <%= typeof student !== 'undefined' && student ? student.registration_number : 'add' %></title>
    <%- include('../../../components/externalImports') %>
</head>
<body>
    <div class="max-w-screen-xl mx-auto px-4 md:px-1">
        <div class="mt-10 flex items-center relative">
            <a href="/user/students" class="absolute left-0">
                <svg class="w-10 h-10 text-gray-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 19-7-7 7-7"/>
                </svg>
            </a>
            <h1 class="pl-16 inline text-xl font-bold text-gray-700">
                <%= typeof student !== 'undefined' && student ? student.registration_number : 'Add Student' %>
            </h1>              
        </div>
        <% if (typeof student !== 'undefined' && student ) { %>
            <div class="flex justify-center mt-5">
                <div class="text-center bg-blue-100 border-[1px] border-blue-300 px-5 py-1">
                    <span class="text-[1.1rem] text-blue-900"><%= typeof student !== 'undefined' && student && student.total_paid ? student.total_paid : 0 %></span>
                    <div class="block text-[.8rem]">
                        Total paid
                    </div>
                </div>
                <div class="ml-5 text-center bg-blue-100 border-[1px] border-blue-300 px-5 py-1">
                    <% if (typeof student !== 'undefined' && student.status == 1 ) { %>
                        <span class="text-white bg-blue-900 px-6 py-[1px] rounded-xl text-[1.1rem]">In</span>
                    <% } else { %>
                        <span class="text-white bg-red-900 px-6 py-[1px] rounded-xl text-[1.1rem]">Out</span>
                    <% } %>                
                    <div class="block text-[.8rem]">
                        Status
                    </div>
                </div>
            </div>
        <% } else { %>
            <div class="mt-8"></div>
        <% } %>
        <div class="mt-2 mb-14">
            <p class="text-gray-700">Personal details</p>
            <hr class="bg-black h-[2px] mb-8"/>
            <form action="" class="w-full">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
                    <div class="w-full">
                        <input type="text" value="<%= typeof student !== 'undefined' && student ? student.full_name : '' %>" id="full_name" class="w-full border border-gray-950 rounded px-5 py-2 bg-transparent" placeholder="Full name">
                        <label for="full_name">Full name <span class="text-red-400">*</span></label>
                    </div>
                    <div class="w-full">
                        <input type="text" value="<%= typeof student !== 'undefined' && student ? student.registration_number : '' %>" id="registration_number" class="w-full border border-gray-950 rounded px-5 py-2 bg-transparent" placeholder="Registration number">
                        <label for="registration_number">Registration number <span class="text-red-400">*</span></label>
                    </div>
                </div>
                <div class="grid grid-cols-1 mt-4 md:grid-cols-1 gap-5">
                    <div class="w-full">
                        <input type="text" value="<%= typeof student !== 'undefined' && student ? student.permanant_address : '' %>" id="permanant_address" class="w-full border border-gray-950 rounded px-5 py-2 bg-transparent" placeholder="Permanant address">
                        <label for="permanant_address">Permanant address</label>
                    </div>
                </div>
                <div class="grid grid-cols-1 mt-4 md:grid-cols-1 gap-5">
                    <div class="w-full">
                        <input type="text" value="<%= typeof student !== 'undefined' && student ? student.temporary_address : '' %>" id="temporary_address" class="w-full border border-gray-950 rounded px-5 py-2 bg-transparent" placeholder="Temporary address">
                        <label for="temporary_address">Temporary address</label>
                    </div>
                </div>
                <div class="grid grid-cols-1 mt-4 md:grid-cols-2 gap-5">
                    <div class="w-full">
                        <input type="text" value="<%= typeof student !== 'undefined' && student ? student.contact : '' %>" id="contact" class="w-full border border-gray-950 rounded px-5 py-2 bg-transparent" placeholder="Contact">
                        <label for="contact">Contact <span class="text-red-400">*</span></label>
                    </div>
                    <div class="w-full">
                        <input type="email" value="<%= typeof student !== 'undefined' && student ? student.email : '' %>" id="email" class="w-full border border-gray-950 rounded px-5 py-2 bg-transparent" placeholder="Email address">
                        <label for="email">Email address</label>
                    </div>
                </div>
                <p class="text-gray-700 mt-5">User account details</p>
                <hr class="bg-black h-[2px] mb-8"/>
                <div class="grid grid-cols-1 mt-4 md:grid-cols-2 gap-5">
                    <div class="w-full">
                        <select id="account" class="w-full border border-gray-950 rounded px-5 py-2 bg-transparent">
                            <option value="">Select account</option>
                            <% for (const user of users) { %>
                                <option value="<%= user.id %>" <%= typeof student !== 'undefined' && student.userAccountId == user.id ? 'selected' : '' %>  ><%= user.email %> | <%= user.userName %></option>
                            <% } %>
                        </select>
                        <label for="account">Associate account</label>
                    </div>
                </div>
                <p class="text-gray-700 mt-5">Faculty & room details</p>
                <hr class="bg-black h-[2px] mb-8"/>
                <div class="grid grid-cols-1 mt-4 md:grid-cols-2 gap-5">
                    <div class="w-full">
                        <select id="faculty" class="w-full border border-gray-950 rounded px-5 py-2 bg-transparent" placeholder="Student faculty">
                            <option value="">Select faculty</option>
                            <% for (const faculty of faculties) { %>
                                <option value="<%= faculty.id %>" <%= typeof student !== 'undefined' && student.faculty.id == faculty.id ? 'selected' : '' %>  ><%= faculty.name %></option>
                            <% } %>
                        </select>
                        <label for="faculty">Student faculty <span class="text-red-400">*</span></label>
                    </div>
                    <div class="w-full">
                        <select id="faculty" class="w-full border border-gray-950 rounded px-5 py-2 bg-transparent" placeholder="Student faculty">
                            <option value="">Select room</option>
                            <% for (const room of rooms) { %>
                                <option value="<%= room.id %>" <%= typeof student !== 'undefined' && student.room.id == room.id ? 'selected' : '' %>  ><%= room.room_number %></option>
                            <% } %>
                        </select>
                        <label for="faculty">Room <span class="text-red-400">*</span></label>
                    </div>
                </div>
                <p class="text-gray-700 mt-5">Guardian details</p>
                <hr class="bg-black h-[2px] mb-8"/>
                <div class="grid grid-cols-1 mt-4 md:grid-cols-2 gap-5">
                    <div class="w-full">
                        <input type="text" value="<%= typeof student !== 'undefined' && student ? student.guardians_name : '' %>" id="guardians_name" class="w-full border border-gray-950 rounded px-5 py-2 bg-transparent" placeholder="Guardians name">
                        <label for="guardians_name">Guardians name <span class="text-red-400">*</span></label>
                    </div>
                    <div class="w-full">
                        <input type="text" value="<%= typeof student !== 'undefined' && student ? student.guardians_contact : '' %>" id="guardians_contact" class="w-full border border-gray-950 rounded px-5 py-2 bg-transparent" placeholder="Guardians contact">
                        <label for="guardians_contact">Guardians contact <span class="text-red-400">*</span></label>
                    </div>
                    <div class="w-full">
                        <input type="text" value="<%= typeof student !== 'undefined' && student ? student.guardians_email : '' %>" id="guardians_email" class="w-full border border-gray-950 rounded px-5 py-2 bg-transparent" placeholder="Guardians email">
                        <label for="guardians_email">Guardians email</label>
                    </div>
                </div>
                <div class="mt-8">
                    <button id="updateStudent" value="<%= typeof student !== 'undefined' && student ? student.id : '' %>" class="bg-blue-700 hover:bg-blue-800 px-5 py-2 rounded text-white">Update</button>
                </div>
            </form>
        </div>
    </div>
    <%- include('../../../components/bottomIncludes.ejs') %>
</body>
</html>